:root {
    --bright-blue: #05AFF2;
    --bright-pastel-blue: #def6ff;
    --bright-crem-blue: #6EC1E4;
    --black-blue: #0688bb;
    --deep-black: #0D0D0D;
    --warm-black: #262626;
    --neutral-gray: #414141;
    --neutral-gray-background: #f0efef;
    --energetic-pink: #F20587;
    --black-energetic-pink: #a8055f;
    --calm-turquoise: #03A6A6;
    --vibrant-yellow: #F2CB05;
    --soft-pink: #F177BA;
    --soft-crem-pink: #facde6;
    --fresh-lime-green: #32CD32;
    --deep-ocean-blue: #097099;
    --border-radius: 20px;
}